<div class="container editemp">

  <br>

  <h4 style="justify-content: center; margin-left: 350px;">Edit Employee Details</h4>

  <form [formGroup]="employeeForm" (ngSubmit)="searchEmployee()">
    <div class="form-group">
      <label for="searchId">Search Employee ID:</label>
      <input type="text" class="form-control" id="searchId" formControlName="searchId">
      <div *ngIf="employeeForm.get('searchId')?.invalid && employeeForm.get('searchId')?.touched" class="text-danger">
        Please enter a valid Employee ID.
      </div>
    </div>

    <button class="btn btn-primary" type="submit" [disabled]="employeeForm.invalid">Search</button>
  </form>


  <form [formGroup]="editForm">
    <div *ngIf="employee">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="dedalusId">Dedalus ID:</label>
          <input type="text" class="form-control" id="DedalusId" formControlName="DedalusId" readonly>
        </div>

        <div class="form-group col-md-6">
          <label for="employeeId">Employee ID:</label>
          <input type="text" class="form-control" id="employeeId" formControlName="EmployeeCode" readonly>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="EmployeeName">Employee Name<span  style="color:red"> *</span></label>
          <input type="text" class="form-control" id="employeeName" formControlName="EmployeeName" readonly>
        </div>

        <!-- Add more form controls here -->
        <div class="form-group col-md-6">

          <label for="Gender" >Gender<span  style="color:red"> *</span></label>
          <select class="form-control" id="gender" formControlName="Gender">
            <option value="Male">Male</option>
            <option value="Female">Female</option>
          </select>
          <div *ngIf="editForm.get('Gender')?.invalid && editForm.get('Gender')?.touched" class="text-danger">
            Gender is required.
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="Location">Location <span  style="color:red"> *</span></label>
          <input type="text" class="form-control" id="location" formControlName="Location">
          <div *ngIf="editForm.get('Location')?.invalid && editForm.get('Location')?.touched" class="text-danger">
            Location is required.
          </div>
        </div>

        <div class="form-group col-md-6">
          <label for="ProductGroup">Product Group <span  style="color:red"> *</span></label>
              <select class="form-select" id="ProductGroup"  formControlName="ProductGroup">
                <option *ngFor="let a of  productgroup" [value]="a.Description">{{a.Description}}</option>                                   
              </select> 
          <div *ngIf="editForm.get('ProductGroup')?.invalid && editForm.get('ProductGroup')?.touched" class="text-danger">
            Product Group is required.
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="Product">Product <span  style="color:red"> *</span></label>
          <select class="form-select" id="Product" formControlName="Product">
           <option *ngFor="let b of productdata" [value]="b.Description">{{b.Description}}</option>                                         
          </select>  
          <div *ngIf="editForm.get('Product')?.invalid && editForm.get('Product')?.touched" class="text-danger">
            Product is required.
          </div>
        </div>

        <div class="form-group col-md-6">
          <label for="UnifiedRoles">Unified Roless<span  style="color:red"> *</span></label>          
              <select class="form-select" id="unifiedRoles" formControlName="UnifiedRoles">
                <option *ngFor="let e of unifieddata" [value]="e.Description">{{e.Description}}</option>                         
             </select>
          <div *ngIf="editForm.get('UnifiedRoles')?.invalid && editForm.get('UnifiedRoles')?.touched" class="text-danger">
            Unified Roles is required.
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="HLRole">HL Role<span  style="color:red"> *</span></label>
              <select class="form-select" id="HLRole" formControlName="HLRole">                                 
                <option *ngFor="let x of roledata" [value]="x.Description">{{x.Description}}</option>                
              </select>
          <div *ngIf="editForm.get('HLRole')?.invalid && editForm.get('HLRole')?.touched" class="text-danger">
            HL Role is required.
          </div>
        </div>

        <div class="form-group col-md-6">
          <label for="HLDesignation">HL Designation <span  style="color:red"> *</span></label>
              <select class="form-select" id="HLDesignation"   formControlName="HLDesignation">  
                <option *ngFor="let datas of desiginationdata" [value]="datas.Description">{{datas.Description}}</option>       
               </select> 
          <div *ngIf="editForm.get('HLDesignation')?.invalid && editForm.get('HLDesignation')?.touched"
            class="text-danger">
            HL Designation is required.
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="HLTitle">HL Title<span  style="color:red"> *</span></label>
              <select class="form-select" id="HLTitle"   formControlName="HLTitle" placeholder="select title">                     
                <option *ngFor="let y of titledata" [value]="y.Description">{{y.Description}}</option>    
               </select> 
          <div *ngIf="editForm.get('HLTitle')?.invalid && editForm.get('HLTitle')?.touched" class="text-danger">
            HL Title is required.
          </div>
        </div>

        <div class="form-group col-md-6">
          <label for="ManagerCode">Manager Code <span  style="color:red"> *</span></label>
          <input type="text" class="form-control" id="ReportingManager" formControlName="ManagerCode" readonly>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="ManagerMailId"> Manager MailId<span  style="color:red"> *</span></label>
          <input type="email" class="form-control" id="managerEmail" formControlName="ManagerMailId">
        </div>

        <div class="form-group col-md-6">
          <label for="DateofJoin">CSC_DOJ<span  style="color:red"> *</span></label>
          <input type="text" class="form-control" id="cscDoj" formControlName="DateofJoin" readonly>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="dateOfLeaving">Date of Leaving:</label>
          <input type="date" class="form-control" id="dateOfLeaving" formControlName="dateOfLeaving">
          <div *ngIf="editForm.get('dateOfLeaving')?.invalid && editForm.get('dateOfLeaving')?.touched"
            class="text-danger">
            Date of Leaving is required.
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="Unit">Unit<span  style="color:red"> *</span></label>
              <select class="form-select" id="Unit"   formControlName="Unit" placeholder="select Unit">                     
                <option *ngFor="let z of unitdata " [value]="z.Description">{{z.Description}}</option>    
               </select>   
          <div *ngIf="editForm.get('Unit')?.invalid && editForm.get('Unit')?.touched" class="text-danger">
            Unit is required.
          </div>
        </div>

        <div class="form-group col-md-6">
          <label for="owning">Owning<span  style="color:red"> *</span></label>
          <select class="form-select" id="Owning"  formControlName="Owning" placeholder="select Owning">                     
            <option *ngFor="let l of owingdata" [value]="l.Description">{{l.Description}}</option>    
           </select> 
          <div *ngIf="editForm.get('Owning')?.invalid && editForm.get('Owning')?.touched" class="text-danger">
            Owning is required.
          </div>
        </div>
      </div>
      
      <button class="btn btn-primary" (click)="updateEmployee()">Update</button>
    </div>
  </form>
</div>

<!-- <app-pop></app-pop> -->