
<div class="ram">
<div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Employee Name: {{ employee?.['Employee Name'] }}</h4>
          </div>
          <div class="card-body">
            <h4>Personal Details</h4>
            <div class="row">
              <div class="col-md-6">
                <p><strong>Employee ID</strong></p>
                <p><strong>Gender</strong></p>
                <p><strong>Mail ID</strong></p>
              </div>
              <div class="col-md-6">
                <p> {{ employee?.['Employee ID'] }}</p>
                <p> {{ employee?.Gender }}</p>
                <p> {{ employee?.['Mail Id'] }}</p>
              </div>
            </div>
            <hr>
            <h4>Job Details</h4>
            <div class="row">
              <div class="col-md-6">
                <p><strong>Location</strong></p>
                <p><strong>Reporting Manager</strong></p>
                <p><strong>Product</strong></p>
                <p><strong>Manager Mail ID</strong></p>
                <p><strong>Date Of Joining</strong></p>
              </div>
              <div class="col-md-6">
                <p> {{ employee?.Location }}</p>
                <p> {{ employee?.['Reporting Manager'] }}</p>
                <p> {{ employee?.Product }}</p>
                <p> {{ employee?.['Manager Email'] }}</p>
                <p> {{ employee?.['CSC_DoJ'] }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  
  
  
  <!-- <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Employee Name: {{ Employee?.['Employee Name'] }}</h4>
          </div>
          <div class="card-body">
            <h4>Personal Details</h4>
            <p><strong>Employee ID:</strong> {{ Employee?.['Employee ID'] }}</p>
            <p><strong>Gender:</strong> {{ Employee?.Gender }}</p>
            <p><strong>Mail ID:</strong> {{ Employee?.['Mail Id'] }}</p>
            <hr>
  
            <h4>Job Details</h4>
            <p><strong>Location:</strong> {{ Employee?.Location }}</p>
            <p><strong>Reporting Manager:</strong> {{ Employee?.['Reporting Manager'] }}</p>
            <p><strong>Product:</strong> {{ Employee?.Product }}</p>
            <p><strong>Manager Mail ID:</strong> {{ Employee?.['Manager Email'] }}</p>
            <p><strong>Date Of Joining:</strong> {{ Employee?.CSC_DoJ }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
   -->
  
  
  
  
  
  
  <!-- <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header text-center">
            <strong>Employee Name : Naga Hemanth Murari Allagadda</strong>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-6">
                <div class="personal-details">
                  <h5 class="card-title text-center">Personal Details</h5>
                  <div class="mb-3">
                    <label class="fw-bold">Birthdate : </label>
                    <span>{{birthdate}}</span>
                  </div>
                  <div class="mb-3">
                    <label class="fw-bold">Gender : </label>
                    <span>{{Gender}}</span>
                  </div>
                  <div class="mb-3">
                    <label class="fw-bold">MobileNumber : </label>
                    <span>{{MobileNumber}}</span>
                  </div>
                </div>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-6">
                <div class="job-details">
                  <h5 class="card-title text-center">Job Details</h5>
                  <div class="mb-3">
                    <label class="fw-bold">Employee ID :</label>
                    <span>19001217</span>
                  </div>
                  <div class="mb-3">
                    <label class="fw-bold">Date of Joining :</label>
                    <span>06-Mar-2023</span>
                  </div>
                  <div class="mb-3">
                    <label class="fw-bold">Manager Name :</label>
                    <span>SelvaKumar Rajaguru</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  
  
  <!-- <div>
    <h1>Employee Details</h1>
    <p><strong>Employee ID:</strong> {{ employee['Employee ID'] }}</p>
    <p><strong>Employee Name:</strong> {{ employee['Employee Name'] }}</p>
  </div> -->
  
  
  