<div class="ram">
<div class="container mt-5">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            Employee Details
            <i class="fa-sharp fa-solid fa-circle-xmark icon" (click)="handleButtonClick()"></i><br><br>
          </h5>
            <div class="row">
              <div class="col-md-6">
                <h6 class="card-subtitle">Employee Name</h6>
                <p>{{ employee['EmployeeName'] }}</p>
              </div>
              <div class="col-md-6">
                <h6 class="card-subtitle" >Employee ID</h6>
                <p>{{ employee['EmployeeCode'] }}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-6">
                <h6 class="card-subtitle">Gender</h6>
                <p>{{ employee['Gender'] }}</p>
              </div>
              <div class="col-md-6">
                <h6 class="card-subtitle">Location</h6>
                <p>{{ employee['Location'] }}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-6">
                <h6 class="card-subtitle">Gender</h6>
                <p>{{ employee['Gender'] }}</p>
              </div>
              <div class="col-md-6">
                <h6 class="card-subtitle">Product Group</h6>
                <p>{{ employee['ProductGroup'] }}</p>
              </div>
            </div>
            <hr>
            
            <div class="row">
              <div class="col-md-6">
                <h6 class="card-subtitle">Product Work Area</h6>
                <p>{{ employee['ProductWorkArea'] }}</p>
              </div>
              <div class="col-md-6">
                <h6 class="card-subtitle">HL Role</h6>
                <p>{{ employee['HLRole'] }}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-6">
                <h6 class="card-subtitle">Reporting Manager</h6>
                <p>{{ employee['ManagerName'] }}</p>
              </div>
              <div class="col-md-6">
                <h6 class="card-subtitle">Manager Email</h6>
                <p>{{ employee['ManagerMailId'] }}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-6">
                <h6 class="card-subtitle">Dedalus ID</h6>
                <p>{{ employee['DedalusId'] }}</p>
              </div>
              <div class="col-md-6">
                <h6 class="card-subtitle">Mail ID</h6>
                <p>{{ employee['Employee_MailId'] }}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-6">
                <h6 class="card-subtitle">HL Designation</h6>
                <p>{{ employee['HLDesignation'] }}</p>
              </div>
              <div class="col-md-6">
                <h6 class="card-subtitle">HL Title</h6>
                <p>{{ employee['HLTitle'] }}</p>
              </div>
              
            </div>
            <hr>
            <div class="row">
              <div class="col-md-6">
                <h6 class="card-subtitle">Owning</h6>
                <p>{{ employee['Owning'] }}</p>
              </div>
              <div class="col-md-6">
                <h6 class="card-subtitle">Product</h6>
                <p>{{ employee['Product'] }}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-6">
                <h6 class="card-subtitle">Unit</h6>
                <p>{{ employee['Unit'] }}</p>
              </div>
              <div class="col-md-6">
                <h6 class="card-subtitle">Work Group</h6>
                <p>{{ employee['WorkGroup'] }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>