
<div class="d-flex" style="margin-top: 90px; width: 300px; margin-left: 950px;">
  <input type="text" [(ngModel)]="searchQuery" placeholder="Enter ID or Name" class="form-control" (keyup.enter)="onSearch()" (input)="change()"/>
  <div class="input-group-append">
    <button class="btn btn-primary" type="button" (click)="onSearch()">
      <i class="fa-solid fa-magnifying-glass"></i>
    </button>
  </div>
</div>

<div class="ram">
<div style="margin-top: 60px; margin-left: auto; margin-right: auto; width: 50%; text-align: center; padding: 10px;" [style.border]="searchClicked ? '1px solid black' : 'none'">
  <table class="table" *ngIf="employees.length > 0">
    <thead>
      <tr>
        <th>Employee Name</th>
        <th>Job Role</th>
        <th>Email ID</th>
        
        <th>Details</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employees">
        <td>{{ employee['EmployeeName'] }}</td>
        <td>{{ employee['HLRole'] }}</td>
        <td>{{ employee['Employee_MailId'] }}</td>
        
        <td><a (click)="navigateToEmployeeDetails(employee)" #employee class="btn btn-primary ml-4">view details</a></td>
      </tr>
    </tbody>
  </table>

  <p *ngIf="searchClicked && employees.length === 0">No employee details found.</p>
</div>
</div>